@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
    font-family: 'Play', sans-serif;
    background-color: #F5F8FF;
    position: relative;
    width: 100%;
    height: auto
}
.page {
	width: 90%;
}
a{
	text-decoration: none;
}
/*-----product-page----*/
/*header*/
.product-page-header{
	display: flex;
	justify-content: center;
	padding: 20px 0px;
	background-color: #fff;
}
.product-page-header-data{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product-page-header-detail-1{
	width: 20%;
}
.product-page-header-detail-2{
	width: 49%;
}
.product-page-header-detail-3{
	width: 24%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-page-header-detail-3 img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.product-page-header-icons .fa-user{
	padding-right: 15px;
	background-color: #51616D;
	padding: 8px 10px;
	border-radius: 50%;
	color: #fff;
}
.product-page-header-icons .fa-caret-down{
		color: #51616D;
		padding-left: 5px;
}
form.product-page-header-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #51616D;
  float: left;
  width: 80%;
  background: #fff;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

form.product-page-header-form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #1A9FB6;
  color: white;
  font-size: 17px;
  border: 1px solid  #51616D;
  border-left: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

form.product-page-header-form button:hover {
  background: #1fbbd6;
}

form.product-page-header-form::after {
  content: "";
  clear: both;
  display: table;
}
.product-page-header-guide a {
	padding: 5px 20px;
	border: 2px solid #1A9FB6;
	color: #1A9FB6;

}
.product-page-header-guide a:hover{
	color: #fff;
	background-color: #1A9FB6;
}
.product-page-header-logo img {
	width: 100%;
}
/*mobile menu*/
form.product-page-header-form-mobile input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #51616D;
  float: left;
  width: 80%;
  background: #fff;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

form.product-page-header-form-mobile button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #1A9FB6;
  color: white;
  font-size: 17px;
  border: 1px solid  #51616D;
  border-left: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

form.product-page-header-form-mobile button:hover {
  background: #1fbbd6;
}

form.product-page-header-form-mobile::after {
  content: "";
  clear: both;
  display: table;
}
.product-page-header-guide-mobile{
	margin-top: 20px;
}
.product-page-header-guide-mobile a {
	padding: 5px 20px;
	border: 2px solid #1A9FB6;
	color: #1A9FB6;

}
.product-page-header-guide-mobile a:hover{
	color: #fff;
	background-color: #1A9FB6;
}
.pro-respon-menu{
	display: none;
}
.pro-respon-menu i{
	font-size: 24px;
	color: #51616D;
}
.pro-respon-menu i:hover{
	color: #1A9FB6;
	cursor: pointer;
}
.pro-mobile-menu-sec{
	display: none;
	justify-content: center;
	padding: 50px 0px;
	position: fixed;
	top: 0px;
	background-color: #1A9FB6;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition-duration: 0.5s;
}
.pro-menu-page{
	background-color: #fff;
	width: 80%;
	padding: 50px 30px;
	position: relative;
}
.pro-mobile-menu-logo img{
	width: 250px;
}
.pro-mobile-menu-cross i {
	
	font-size: 24px;
	color: #51616D;

}
.pro-mobile-menu-cross {
position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.pro-mobile-menu-cross:hover{
	transform: rotate(180deg);
}
.pro-mobile-menu-cross i:hover{
	color: #1A9FB6;
	
}

/*product picture*/
.qr-product-page-sec{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.pro-page-pro-pic-data{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
}
.qr-product-page-head{
	text-align: center;
}
.qr-product-page-head h2 {
	font-size: 26px;
}
.pro-page-pro-pic-1 img {
	width: 100%;
	transition: 0.5s;
	
}
.pro-page-pro-pic-1{
	overflow: hidden;
}
.pro-page-pro-pic-1 img:hover {
	transform: scale(1.1);
}
.pro-page-pro-pic-detail-1 {
	width: 65%;
	margin-top: 20px;
}
.pro-page-pro-pic-detail-2 {
	width: 32%;
	margin-top: 20px;
}
.pro-page-pro-pic-rt img {
	width: 100%;
	transition: 0.5s;
}
.pro-page-pro-pic-rt{
	overflow: hidden;
}
.pro-page-pro-pic-rt img:hover {
	transform: scale(1.1);
}
.pro-pic-rt-mrg{
	margin-top: 15px;
}
/*link to product store*/

.pro-page-store-sec{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.pro-page-store-head{
	text-align: center;
}
.pro-page-store-head h2 {
	font-size: 26px;
}
.pro-page-store-data{
	margin-top: 30px;
}
/*related-products*/
.pro-page-related-sec{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.pro-page-related-hr hr{
	width: 20%;
	border: 1px solid #1A9FB6; 
}
.pro-page-related-data{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15px;
}
.pro-page-related-detail{
	width: 32%;
	margin-top: 15px;
}
.pro-page-related-pics{
	overflow: hidden;
}
.pro-page-related-pics img{
	width: 100%;
	transition: 0.5s
}
.pro-page-related-detail:hover .pro-page-related-pics img{
	transform: scale(1.1);
}
.pro-page-related-detail:hover .pro-page-related-pics-text a{
	color: #1A9FB6;
}
.pro-page-related-pics-text{
	padding: 20px;
}
.pro-page-related-pics-text a{
	color: #000;
	font-size: 18px;
}
/*dowmload and view*/
.pro-page-downloads-sec{
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 20px;
	background-image: url('../images/down.png');
	background-repeat: no-repeat;
	background-position: right center;
	position: relative;
	min-height: 400px;

}
.pro-page-downloads-overlay{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #1A9FB6 , rgba(255,255,255,0.65));
}
.pro-downloads-head h2{
	color: #fff;
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 2px;

}
.down-page {
	width: 90%;
	z-index: 1;
}
.pro-page-downloads-data{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.pro-page-downloads-text{
	width: 64%;
}
.pro-page-downloads-para p {
	color: #030000;
	font-size: 18px;
	 text-align: justify;
}
.pro-page-downloads-btns{
	width: 34%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.pro-page-downloads-btns-detail{
	width: 100%;
	display: flex;
	justify-content: center;
}
.pro-page-downloads-btns-detail button {
	color: #fff;
	background-color: #030000;
	padding: 10px 0px;
	width: 60%;
	border: 2px solid #030000;
	margin-top: 5px;
	cursor: pointer;
	transition: 0.4s;
}
.pro-page-downloads-btns-detail button:hover{
	color: #030000;
	background-color: transparent;
}
/*product information*/
.pro-page-informa-sec{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}
.pro-page-informa-data{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.pro-infoarma-head {
	text-align: center;
}
.pro-infoarma-head h2 {
	font-size: 26px;
}
.pro-page-informa-detail-1{
	width: 64%;
	margin-top: 15px;
}
.pro-page-informa-detail-2{
	width: 34%;
	margin-top: 15px;
}
.pro-page-informa-content p {
	text-align: justify;
	font-size: 16px;
	color: #030000;
}
.pro-page-informa-pics img {
	width: 100%;
}
.pro-page-informa-content-2{
	margin-top: 10px;
}
.pro-page-informa-content-2 p{
	text-align: justify;
	font-size: 16px;
	color: #030000;
}
/*company profile */
.pro-page-profile-sec{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
	
}
.pro-page-profile-data{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15px;
}
.pro-page-profile-detail-1{
	width: 32%;
	margin-top: 15px;
}
.pro-page-profile-detail-2{
	width: 33%;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pro-page-profile-detail-3{
	width: 32%;
	margin-top: 15px;
}
.pro-page-profile-imgs-detail{
	width: 48%;
	overflow: hidden;
	
}
.pro-page-profile-wranty-data{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.pro-page-profile-wranty-detail-1{
	height: 200px;
	width: 48%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 50px 0px;
	margin-top: 15px;
	box-shadow: 0px 1px 8px 4px rgba(110,194,209,1);
}
.pro-page-profile-wranty-detail-2{
	height: 200px;
	width: 48%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 50px 0px;
	margin-top: 15px;
}
.pro-page-profile-wranty-icon-data{
	width: 50%;
}

.pro-page-profile-imgs-mr{
	margin-top: 5px;
}
.pro-page-profile-imgs-detail img {
	width: 100%;
	transition-duration: 0.5s;
}
.pro-page-profile-imgs-detail:hover img {
	transform: scale(1.1);
}
.pro-page-profile-detail-pics{
	overflow: hidden;
}
.pro-page-profile-detail-pics img {
	width: 100%;
	transition-duration: 0.5s;
}
.pro-page-profile-detail-pics:hover img {
	transform: scale(1.1);
}
.pro-page-profile-content{
	margin-top: 30px;
}
.pro-profile-head{
	text-align: center;
}
.pro-profile-head h2{
	font-size: 26px;
}
.pro-page-profile-img{
	width: 100%;
	height: 400px;
}

.pro-page-profile-img img{
	width: 100%;
	height: 100%;
}
.pro-page-profile-text{
	margin-top: 15px;
}
.pro-page-profile-text p {
	text-align: justify;
	font-size: 16px;
	color: #030000;
}

.pro-page-profile-wranty-icon i{
	color: #1A9FB6;
	font-size: 34px;
}
.pro-page-profile-wranty-text{
	margin-top: 10px;
}
.pro-page-profile-wranty-text h3{
	font-size: 24px;

}
.pro-page-profile-wranty-text h3 a {
	color: #030000;
}
.pro-page-profile-wranty-text h3 a:hover{
	color: #1A9FB6;
}
/*coustomer reviews*/

.pro-page-reviews-sec{
	display: flex;
	justify-content: center;
	padding: 30px 0px;
}

.pro-reviews-head{
	text-align: center;
}
.pro-reviews-head h2 {
	font-size: 26px;
}
.pro-page-reviews-data{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.pro-page-reviews-detail-1{
	width: 49%;
	margin-top: 15px;
	background-color: #fff;
	padding: 20px 15px;
}
.pro-page-reviews-detail-2{
	width: 49%;
	margin-top: 15px;
}

.pro-page-reviews-content-head h3{
	font-size: 24px;
	color: #1A9FB6;
}
.pro-page-reviews-ls-stars-data{
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.pro-page-reviews-ls-stars-text{
	margin-left: 15px;
}
.pro-page-reviews-ls-stars-text p {
	font-size: 22px;
}
.pro-page-reviews-ls-stars i{
	font-size: 22px;
	color: #FFA41C;

}
.pro-page-reviews-global{
	margin-top: 10px;
}
.pro-page-reviews-global p {
	font-size: 18px;
	color: #565970;
}
.pro-page-ratings-data{
	display: flex;
	margin-top: 10px;
	align-items: center;
	
}
.pro-page-ratings-detail-2{
	margin-left: 15px;
	display: flex;
	width: 70%;
	align-items: center;
}
/*rate1*/
.pro-page-ratings-high-1{
	width: 90%;
	background-color: #FFA41C;
	padding: 12px 0px;
	border-top: 2px solid #E27E21;
	border-left: 2px solid #E27E21;
	border-bottom: 2px solid #E27E21;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;

}
.pro-page-ratings-low-1{
	width: 10%;
	background-color: #F0F2F2;
	padding: 12px 0px;
	border-top: 2px solid #E3E6E6;
	border-right: 2px solid #E3E6E6;
	border-bottom: 2px solid #E3E6E6;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}
/*rate2*/
.pro-page-ratings-high-2{
	width: 4%;
	background-color: #FFA41C;
	padding: 12px 0px;
	border-top: 2px solid #E27E21;
	border-left: 2px solid #E27E21;
	border-bottom: 2px solid #E27E21;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;

}
.pro-page-ratings-low-2{
	width: 96%;
	background-color: #F0F2F2;
	padding: 12px 0px;
	border-top: 2px solid #E3E6E6;
	border-right: 2px solid #E3E6E6;
	border-bottom: 2px solid #E3E6E6;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}
/*rate3*/
.pro-page-ratings-high-3{
	width: 2%;
	background-color: #FFA41C;
	padding: 12px 0px;
	border-top: 2px solid #E27E21;
	border-left: 2px solid #E27E21;
	border-bottom: 2px solid #E27E21;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;

}
.pro-page-ratings-low-3{
	width: 98%;
	background-color: #F0F2F2;
	padding: 12px 0px;
	border-top: 2px solid #E3E6E6;
	border-right: 2px solid #E3E6E6;
	border-bottom: 2px solid #E3E6E6;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}
/*rate4*/
.pro-page-ratings-high-4{
	width: 1%;
	background-color: #FFA41C;
	padding: 12px 0px;
	border-top: 2px solid #E27E21;
	border-left: 2px solid #E27E21;
	border-bottom: 2px solid #E27E21;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;

}
.pro-page-ratings-low-4{
	width: 99%;
	background-color: #F0F2F2;
	padding: 12px 0px;
	border-top: 2px solid #E3E6E6;
	border-right: 2px solid #E3E6E6;
	border-bottom: 2px solid #E3E6E6;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}
/*rate5*/
.pro-page-ratings-high-5{
	width: 1%;
	background-color: #FFA41C;
	padding: 12px 0px;
	border-top: 2px solid #E27E21;
	border-left: 2px solid #E27E21;
	border-bottom: 2px solid #E27E21;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;

}
.pro-page-ratings-low-5{
	width: 99%;
	background-color: #F0F2F2;
	padding: 12px 0px;
	border-top: 2px solid #E3E6E6;
	border-right: 2px solid #E3E6E6;
	border-bottom: 2px solid #E3E6E6;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}
.pro-page-ratings-detail-3{
	margin-left: 10px;
}
.pro-page-ratings-detail-3 p {
	font-size: 18px;
	color: #1A9FB6;
}
.pro-page-ratings-detail-1 p {
	font-size: 18px;
	color: #1A9FB6;
}
.pro-page-ratings-detail-1{
	width: 10%;
}
.pro-page-ratings-calculate{
	margin-top: 15px;
}
.pro-page-ratings-calculate p{
	color: #1A9FB6;
	font-size: 18px;
}
.pro-page-ratings-calculate i {
	color: #000;
	padding-right: 10px;
}
.pro-page-reviews-coments-data{
	display: flex;
	justify-content: center;
	background-color: #fff;
	margin-top: 15px;
	padding: 20px 0px;
	box-shadow: 10px 10px 5px 0px rgba(230,230,230,1);

}
.pro-page-reviews-coments-detail{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pro-page-reviews-coments-img{
	width: 20%;
}
.pro-page-reviews-coments-img-text{
	width: 78%;
}
.pro-page-reviews-client-data{
	display: flex;
	align-items: center;
}
.pro-page-reviews-client-stars{
	margin-left: 15px;
}
.pro-page-reviews-coments-img img {
	border-radius: 50%;
	width: 100%;

}
.pro-page-reviews-client-name h4 {
	font-size: 22px;
}
.pro-page-reviews-client-stars i {
	font-size: 18px;
	color: #FFA41C;
}
.pro-page-reviews-client-msg{
	margin-top: 8px;
}
.pro-page-reviews-client-msg p {
	font-size: 16px;
}
/*customer questions and answers*/
.pro-page-ques-sec{
	display: flex;
	justify-content: center;
	padding: 30px 0px;
}
.pro-page-ques-head{
	text-align: center;
}
.pro-page-ques-head h2{
	font-size: 26px;
}
.pro-page-ques-input{
	margin-top: 10px;
}
form.pro-page-ques-form input[type=text] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #1A9FB6;
  border-left: 0px;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; 
  float: left;
  width: 95%;
  background: #fff;
  outline: none;
}

form.pro-page-ques-form button {
  float: left;
  width: 5%;
  padding: 8px;
  background: #fff;
  color: #1A9FB6 ;
  font-size: 16px;
  border: 1px solid	#1A9FB6;
  border-radius: 6px;
  border-right: none;
  cursor: pointer;
    border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; 
}


form.pro-page-ques-form::after {
  content: "";
  clear: both;
  display: table;
}
.pro-page-ques-data{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding: 15px 10px;
	background-color: #fff;
}
.pro-page-ques-datail-1{
	width: 5%;
	margin-top: 15px;
	border-right: 1px solid #ccc;
	text-align: center;
}
.pro-page-ques-datail-2{
	width: 93%;
	margin-top: 15px;

}
.pro-page-ques-text-data{
	display: flex;
	justify-content: space-between;
}
.pro-page-ques-text-h-1{
	width: 25%;
}
.pro-page-ques-text-h-2 {
	width: 74%;
}
.pro-page-ques-ans-data{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.pro-page-ques-ans-h-1{
	width: 25%;
}
.pro-page-ans-ans-h-2 {
	width: 74%;
}
.pro-page-votes-icon i {
	font-size: 32px;
	color: #888888;
}
.pro-page-ques-text-h-2 h3{
	font-size: 24px;
	color: #1A9FB6;
}
.pro-page-ans-ans-h-2 p{
	font-size: 16px;
}
.pro-page-ans-analys{
	margin-top: 10px;
}
.pro-page-ans-analys p{
	color: #888888;
}
.pro-page-ans-see-more{
	margin-top: 6px;
}
.pro-page-ans-see-more p {
	color: #1A9FB6;
	font-weight: bold;
}
.pro-page-ans-see-more i {
	color: #000;
	padding-right: 8px;

}
/*more guides*/
.pro-page-guides-sec{
	display: flex;
	justify-content: center;
	padding: 30px;
}
.pro-page-guides-head{
	text-align: center;
}
.pro-page-guides-head h2 {
	font-size: 26px;
}
.pro-page-guides-data{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	flex-wrap: wrap;
}
.pro-page-guides-detail{
	margin-top: 15px;
	width: 32%;
	border: 1px solid #1A9FB6;
}
.pro-page-guides-pics{
	overflow: hidden;
}
.pro-page-guides-detail:hover .pro-page-guides-pics img{
	transform: scale(1.1);
}
.pro-page-guides-detail:hover .pro-page-guides-title-text a{
	color: #1A9FB6;
}
.pro-page-guides-pics img {
	width: 100%;
	transition-duration: 0.5s;
}
.pro-page-guides-contents{
	padding: 10px 10px 20px 10px;

}
.pro-page-guides-title-data{

	display: flex;
	align-items: center;
}
.pro-page-guides-title-img img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.pro-page-guides-title-text{
	margin-left: 20px;
}
.pro-page-guides-title-text a {
	font-size: 22px;
	color: #030000;
}
.pro-page-guides-title-para p {
	font-size: 14px;
}
.pro-page-guides-title-rating-data{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
}
.pro-page-guides-title-rating-detail p {
	color: #888888;
	font-size: 16px;
}
.pro-page-guides-title-rating-detail p span {
	color: #FFA41C;
	padding-right: 5px;
}
.pro-page-guides-title-btns .pro-page-guides-title-btn-1{
	padding: 5px 10px;
	border: 2px solid #1A9FB6;
	color: #1A9FB6;
}
.pro-page-guides-title-btns .pro-page-guides-title-btn-2 {
	padding: 5px 10px;
	border: 2px solid #1A9FB6;
	color: #fff;
	background-color: #1A9FB6;
	margin-left: 5px;
	margin-top: 5px;
}



/*media quaries*/
@media only screen and (max-width: 1125px) {
.pro-page-guides-detail{
	width: 48%;
	}
	
}

@media only screen and (max-width: 900px) {
	.product-page-header-detail-3{
		flex-direction: column;
		margin-top: 10px;
	}
	.product-page-header-icons{
		margin-top: 10px;
	}
	.pro-page-pro-pic-detail-1 {
		width: 100%;
	}
	.pro-page-pro-pic-detail-2{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 100%;
	}
	.pro-pic-rt-mrg{
		margin-top: unset;
	}
	.pro-page-pro-pic-rt{
		width: 49%;
	}
	.pro-page-related-detail{
		width: 48%;
	}
	.pro-page-downloads-data{
		flex-direction: column;
	}
	.pro-page-downloads-text{
		width: 100%;
	}
	.pro-page-downloads-btns{
		width: 100%;
		margin-top: 20px;
	}
	.pro-page-informa-data{
		flex-direction: column;
	}
	.pro-page-informa-detail-1{
		width: 100%;
	}
	.pro-page-informa-detail-2{
		width: 100%;
	}
	.pro-page-profile-detail-1{
		width: 48%;
	}
	.pro-page-profile-detail-2{
		width: 49%;
	}
	.pro-page-profile-detail-3{
		width: 75%;
	}
	.pro-page-reviews-data{
		flex-direction: column;
	}
	.pro-page-reviews-detail-1{
		width: 100%;
	}
	.pro-page-reviews-detail-2{
		width: 100%;
	}
	.pro-page-ques-data{
		flex-direction: column;
	}
	.pro-page-ques-datail-1{
		border: unset;
	}
	.pro-page-guides-detail{
	width: 100%;
	}





}
@media only screen and (max-width: 700px) {
	.product-page-header-logo img{
		width: 200px;
	}
	.product-page-header-detail-3{
		flex-direction: row;
	}
	.pro-respon-menu{
		display: block;
	}
	.product-page-header-guide{
		display: none;
	}
	.product-page-header-form{
		display: none;
	}
	.pro-page-pro-pic-detail-2{
		flex-direction: column;
	}
	.pro-page-pro-pic-rt{
		width: 100%;
	}
	.pro-pic-rt-mrg{
		margin-top: 15px;
	}
	.pro-page-related-detail{
		width: 100%;
	}
	.pro-page-downloads-btns-detail button{
		width: 100%;
	}
	.pro-page-profile-detail-1{
		width: 100%;
	}
	.pro-page-profile-detail-2{
		width: 100%;
	}
	.pro-page-profile-detail-3{
		width: 100%;
	}
	.pro-page-profile-imgs-detail{
		width: 49%;
	}
	.pro-page-profile-wranty-data{
		flex-direction: column;
	}
	.pro-page-profile-wranty-detail-1{
		width: 100%;
	}
	.pro-page-profile-wranty-detail-2{
		width: 100%;
	}
}
@media only screen and (max-width: 550px) {
	.pro-mobile-menu-logo img{
	width: 150px;
}
	.page{
		width: 95%;
	}
	.pro-page-profile-detail-2{
		flex-direction: column;
	}
	.pro-page-profile-imgs-detail{
		width: 100%;
	}
	.pro-page-profile-wranty-icon-data{
		width: 90%;
		text-align: center;
	}
	.pro-page-profile-img{
		height: unset;
	}
	.pro-page-reviews-coments-detail{
		flex-direction: column;
	}
	.pro-page-reviews-coments-detail{
		width: 95%;
	}
	.pro-page-reviews-coments-img-text{
		width: 100%;
	}
	.pro-page-reviews-coments-img{
		width: 30%;
	}
	.pro-page-reviews-ls-stars-data{
		flex-direction: column;
	}
	.pro-page-ratings-data{
		flex-direction: column;
	}
	.pro-page-ratings-detail-1{
		width: unset;
	}
	.pro-page-ratings-detail-2{
		width: 100%;
		margin-left: unset;
	}
	.pro-page-ratings-data{
		margin-top: 20px;
	}
	.pro-page-ques-text-data{
		flex-direction: column;
	}
	.pro-page-ques-text-h-1{
		width: 100%;
	}
	.pro-page-ques-text-h-2{
		width: 100%;
		margin-top: 10px;
	}
	.pro-page-ques-ans-data{
		flex-direction: column;
	}
	.pro-page-ans-ans-h-2{
		width: 100%;
		margin-top: 10px;
	}
	.form.pro-page-ques-form button{
		width: 10%;
	}
	form.pro-page-ques-form input[type=text]{
		width: 90%;
	}
	.pro-page-guides-title-rating-data{
		flex-direction: column;
	}

}
@media only screen and (max-width: 490px) {
form.pro-page-ques-form button{
		font-size: 12px;
	}
	form.pro-page-ques-form input[type=text]{
		font-size: 12px;
	}
	.product-page-header-logo img{
		width: 140px;
	}
	.product-page-header-detail-3{
		margin-right: 30px;
	}
	.pro-respon-menu{
		padding-right: 
		10px;
	}
}