@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
	margin: 0px;
	padding: 0px;
}
body {
    font-family: 'Play', sans-serif;
	font-size: 16px;
}
.flex-1{
	display: flex;
	justify-content: center;
}
.flex-2{
	display: flex;
	justify-content: space-between;
}
.wrap {
	flex-wrap: wrap;
}
.align-items {
	align-items: center;
}
.page-1 {
	width: 75%;
}
.page-2 {
	width: 90%;
}
.page-3 {
	width: 70%;
}
/*top bar*/
.top-bar {
	height: 55px;
} 
.tb-width-1 {
	width:18%;
}
.tb-width-1 img {
	width: 100%;
}
.tb-width-2 {
	width:34%;
}
.tb-width-2 nav ul {
	display: flex;
}
.tb-width-2 nav ul li {
	list-style-type: none;
	padding-right: 15px;
}
.tb-width-2 nav ul li a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
.tb-width-3 {
	width:33%;
}
.tb-width-3 a {
	border:1px solid #1BB9D4;
	background-color: #fff;
	padding: 5px 10px 5px 10px!important;
    color: #1BB9D4;
    text-decoration: none;
    margin-right: 20px;
}
.tb-width-3 i {
	padding-right: 5px;
}
/*banner*/
.banner {
	height: 100vh;
	background-color: #1AB2CC;
}
.banner-width-1 {
	width: 50%;
}
.banner-width-2 {
	width: 45%;
}
.banner-width-2 img {
	width: 90%;
	border-radius: 10px;
	transform: rotate(-15deg);
}
.banner-padding {
	padding-top: 10%;
}
.banner-data {
	width: 70%;
}
.banner-data h1 {
	font-family: 'Play', sans-serif;
	font-size: 58px;
	font-weight: 800;
}
.banner-data button {
   background-color: #010101;
   padding: 8px 16px 8px 16px;
   border:unset;
   border-radius: 5px;
}
.banner-data button a {
   color: #fff;
   text-decoration: none;   
}	
.banner-data i {
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px!important;
}
/*visitors*/
.visitors {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.visitors-data {
	padding-bottom: 30px;
}
.visitors-data p {
    color:  #198EA2;
    font-size: 18px;
    font-weight: 700;
}
.visitors-data h2 {
    font-family: 'Play', sans-serif;
}
.visitors-width-1 {
	width: 30%;
	border:1px solid #F6F6F6;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
.visitors-width-1-1 {
	width: 75%;
	padding: 40px 0px;
}
.visitors-width-1-1 i {
    font-size: 24px!important;
    background-color: black;
    color: #fff;
    border-radius: 30px 13px 30px 13px;
    -webkit-box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;	
    font-weight: bold;
}
.visitors-width-1-1 h3 {
	margin-bottom: 15px;
}
.visitors-width-1-1 p {
	color: #777;
	font-size: 14px;
}
.visitors-width-2 {
	width: 30%;
	border:1px solid #1991A5;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	background-color: #1991A5;
}
.visitors-width-2-1 {
	width: 75%;
	padding: 40px 0px;
}
.visitors-width-2-1 i {
    font-size: 24px!important;
    background-color: #fff;
    color: #1991A5;
    border-radius: 30px 13px 30px 13px;
    -webkit-box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;	
}
.visitors-width-2-1 h3 {
	margin-bottom: 15px;
	color: #fff;
}
.visitors-width-2-1 p {
	color: #fff;
	font-size: 14px;
}
.visitors-data-1 {
	padding: 30px 0px 10px 0px;
}
.visitors-data-1 p  {
    color: #606060;
    font-weight: 700;
    font-size: 18px;
}
.visitors-data-1 p span {
    color:  #198EA2;
}

/*second row*/
.visitors-widths-2 {
	width: 30%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	background-color: black;
}
.visitors-widths-1 {
	width: 30%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
.visitors-widths-2-1 {
	width: 75%;
	padding: 40px 0px;
}
.visitors-widths-2-1 i {
    font-size: 24px!important;
    background-color: #fff;
    color: #3A9AAC;
    border-radius: 30px 13px 30px 13px;
    -webkit-box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;	
}
.visitors-widths-2-1 h3 {
	margin-bottom: 15px;
	color: #fff;
}
.visitors-widths-2-1 p {
	color: #fff;
	font-size: 14px;
}
.visitors-widths-1-1 {
	width: 75%;
	padding: 40px 0px;
}
.visitors-widths-1-1 i {
    font-size: 24px!important;
    background-color: #009CFF;
    color: #fff;
    border-radius: 30px 13px 30px 13px;
    -webkit-box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;	
    font-weight: bold;
}
.visitors-widths-1-1 h3 {
	margin-bottom: 15px;
}
.visitors-widths-1-1 p {
	color: #777;
	font-size: 14px;
}

/*third row*/

/*second row*/
.visitor-widths-2 {
	width: 30%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
.visitor-widths-1 {
	width: 30%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}
.visitor-widths-2-1 {
	width: 75%;
	padding: 40px 0px;
}
.visitor-widths-2-1 i {
    font-size: 24px!important;
    background-color:#0042FF;
    color: #fff;
    border-radius: 30px 13px 30px 13px;
    -webkit-box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;	
}
.visitor-widths-2-1 h3 {
	margin-bottom: 15px;
	color: black;
}
.visitor-widths-2-1 p {
	color: #fff;
	font-size: 14px;
}
.visitor-widths-1-1 {
	width: 75%;
	padding: 40px 0px;
}
.visitor-widths-1-1 i {
    font-size: 24px!important;
    background-color: #DE80C9;
    color: #fff;
    border-radius: 30px 13px 30px 13px;
    -webkit-box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;	
    font-weight: bold;
}
.visitor-widths-1-1 h3 {
	margin-bottom: 15px;
}
.visitor-widths-1-1 p {
	color: #777;
	font-size: 14px;
}
.visitores-widths-1-1 {
	width: 75%;
	padding: 40px 0px;
}
.visitores-widths-1-1 i {
    font-size: 24px!important;
    background-color: #FF4657;
    color: #fff;
    border-radius: 30px 13px 30px 13px;
    -webkit-box-shadow: 6px 5px 4px 0px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;	
    font-weight: bold;
}
.visitores-widths-1-1 h3 {
	margin-bottom: 15px;
}
.visitores-widths-1-1 p {
	color: #777;
	font-size: 14px;
}

/*about*/
.about {
	padding: 70px 0px;
	background-color: #F6F9FF;
}
.about-width {
	width: 48%;
}
.about-width div {
	width: 70%;
}
.about-width div h2 {
	font-size: 35px;
	font-weight: bold;
	padding-bottom: 20px;
}
.about-width h5 {
	color: #349BAD;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 12px;
}
.about-width h4 {
	color: #777;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 40px;
}
.about-width p {
	color: #777;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 12px;
}
.about-width i {
	color: #FE534E;
	padding-right: 10px;
}
.about-width button {
    background: linear-gradient(to right, #020202 0%, #595959 100%);
    padding: 13px 35px 13px 35px;
    border-radius: 3px;
    border:unset;
    margin-top: 35px;
}
.about-width button a {
    color: #fff;
    text-decoration: none;
}
.about-width img {
	width: 115%;
}
/*client*/
.client {
	width: 100%;	
}
.clients {
	margin-top: 60px;
	padding: 60px 0px;
	background: linear-gradient(to right, #1bbad6 0%, #198ea2 100%);
	border-radius: 5px;
}
.client-width {
	width: 25%;
	text-align: center;
	color: #fff;
}
/*faqs*/
.faq-data {
	font-size: 18px;
	font-weight: bolder;
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: sans-serif;
}
.visitors-datas1 {
	padding-bottom: 30px;
	text-align: center;
}
.visitors-datas1 p {
    color:  #198EA2;
    font-size: 18px;
    font-weight: 700;
}
.visitors-datas1 h2 {
    font-family: 'Play', sans-serif;
}

/*pricing*/
* {
  box-sizing: border-box;
}
.pricing {
	margin: 40px 0px;
	padding: 10px 0px 90px 0px;
	background-color: #F6F9FF;
}
.pricing-data h2 {
	font-size: 54px!important;
	font-weight: bold;
	color: #198EA2; 
	padding-bottom: 70px;
	text-align:center
}
.columns {
  float: left;
  width: 31%;
}
.columns-1 {
  float: left;
  width: 30%;
  transform:scale(1.07);
}
.price {
  background: linear-gradient(to bottom, #000000 0%, #303030 64%);	
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header {
  background-color: #101010;
  color: white;
  font-size: 13px;
  padding: 45px 5px 0px 5px!important;
}
.price li {
  font-size: 13px; 
  padding: 20px;
  text-align: center; 
}
.price .grey {
  background-color: #101010;
  color: #198EA2;
  font-size: 70px;
  padding: 5px 5px 5px 5px!important;
}
.price .grey-2 {
  background-color: #303030;
  color: #198EA2;
  font-size: 60px;
}
.price-1 {
  background: linear-gradient(to bottom, #198fa3 0%, #1bbad5 58%);
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px!important;
}

.price-1:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price-1 .header {
  background-color: #199DB4	;
  color: white;
  font-size: 13px;
  padding: 20px 5px 0px 5px!important;
}

.price-1 li {
  font-size: 13px;
  padding: 14.5px;
  text-align: center;
}
.price-1 .link a {
	text-decoration: none;
	color: red;
	background-color: #fff;
	padding: 3px 13px 3px 13px;
	border-radius: 12px;
	font-weight: bold;
}
.price-1 .link {
	background-color: #199DB4; 
	padding: 45px 5px 5px 5px!important;
}
.price-1 .grey {
  background-color: #199DB4;
  color: #fff;
  font-size: 70px;
  padding: 0px 5px 5px 5px!important;
}
.price-1 .grey-1 {
  background-color: #1BBAD5;
  color: #fff;
  font-size: 60px;
}
.button {
  background: linear-gradient(to top, #1bbad6 0%, #198ea2 100%);  
  border: none;
  border-radius: 20px;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.button-1 {
  background-color: #FFF;
  border: none;
  border-radius: 20px;
  color: #1bbad6;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
/*why us*/
.whyus-width-1 {
	width: 48%;
}
.whyus-width-1 p {
	font-weight: bold;
	color: #2492A5;
}
.whyus-width-1 h2 {
	font-weight: bolder;
	color: black;
	font-size: 36px;
}
.whyus-width-1 h6 {
	color: #777;
	font-size: 14px;
}
.whyus-width-3 p {
	color: #777;
	font-size: 14px;
}
.whyus-width-3 h3 {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}
.whyus-data {
	padding: 50px 0px;
}
.whyus-datas p {
	padding-bottom: 5px;
	font-size: 14px;
	color: black;
}
.whyus-width-2 .whyus-width-3 {
	
	padding: 15px;
	position: relative;
	width: 48%;
	text-align: center;
	box-shadow: -2px 3px 49px -26px rgba(0,0,0,0.76);
	margin-top: 30px;
}
.whyus-icons{
	box-shadow: -2px 24px 49px -27px rgba(0,0,0,0.76);
	position: absolute;
    width: 50px;
    padding: 10px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    top: 0px;
    font-size: 20px; 
    /* left: 50%; */
    right: 40%;
    /* text-align: center; */
    margin-top: -20px;
    background-color: #2492A5;
    color: #fff; 

}
.margin-top{
	margin-top: 50px;
}
.whyus-width-2 {
	width: 48%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/*projects*/
.projects {
	background-color: #F6F9FF;
}
.project {
	width: 75%;
    background: linear-gradient(to right, #030303 0%, #646464 100%);
    text-align: center;
    border-radius: 7px;
    margin: 70px 0px 250px 0px;
}
.project-data {
	padding: 50px 0px;
}
.project-data h2 {
	color: #fff;
}
.project-data div {
	padding-top: 30px;
}
.project-data div button {
	background-color: #fff;
	border:unset;
	border-radius: 7px;
	padding: 10px 10px 10px 10px;
	margin-right: 15px;
}
.project-data div button a {
	text-decoration: none;
	color: #1AA5BC;
	font-size: 15px;
	font-weight: bold;
}
.project-data div i {
	background-color: #fff;
	padding: 8px 4px 8px 8px;
	width: 35px;
	border-radius: 50%;
	font-size: 22px;
	color: #1AA5BC;
}

/*footer*/
.footer {
	background-color: #198EA2;
}
.wfts {
	width: 24.5%;
}
.wfts1{
	width: 26%;
}
.kol img {
	width: 100%;
}
.kol {
	width: 50%;
}
.kol1 p {
	color: #fff;
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 15px;
}
.kol1 h3 {
	color:#fff;
	padding-bottom: 30px;
}
.kol2 i {
    color: #fff;
    padding: 10px 12px 10px 12px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(to right, #030303 0%, #646464 100%);
    margin-right: 5px;
}
.kol2 i:hover {
    background-color: #4d7df0;
    transition: 500ms;
}
.wfts nav ul li a {
	color: #fff;
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    transition-duration: 0.6s;
    text-decoration: #fff;
}
.wfts nav ul {
	list-style-type: none;
}
.wfts nav ul li a:hover {
	text-decoration: none;
    color: #4d7df0;
}
.wfts h3 {
    color: #fff;
    font-size: 16px;
    font: 700 20px/26px "Open Sans",sans-serif;
    padding-bottom: 25px;
}
.come1 {
	display: flex;
	justify-content: center;
}
.come1 {
		color: #666;
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    transition-duration: 0.6s;
}
.come {
	padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #dddddd;
}
.comes {
	display: flex;
	justify-content: center;
}
.comes img {
	margin-right: 8px;
}
.nap {
	flex-wrap: wrap;
}
.pad {
	padding: 60px 0px;
}
.copy {
	background-color: black;
	color: white;
	padding: 12px 0px;
}
.copy-data {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.copy-data p {
    width: 40%;
} 
.copy-data div {
    width: 35%;
}
.copy-data div a {
   text-decoration: none;
   padding-right: 10px;
}	
@media only screen and (max-width: 1230px) {
    .top-bar {
		height: 47px;
    } 
	.tb-width-1 {
	    width:22%;
	}
	.tb-width-2 {
	    width:40%;
	}
	.tb-width-3 {
	    width:30%;
	}
}
@media only screen and (max-width: 992px) {
    .visitors-width-1, .visitors-width-2, .visitors-widths-1, .visitors-widths-2, .visitor-widths-1, 
    .visitor-widths-2 {
    	width: 48%;
    	margin-top: 10px;
    }
    .about-width, .whyus-width-1, .banner-width-1, .banner-width-2 {
    	width: 100%;
    }
    .banner-width-2 img {
    	margin-top: 20px;
    	width: 60%;
    }
    .banner-data {
    	width: 80%;
    }
    .about-width img {
    	width: 100%;
    	padding-top: 40px;
    }
    .client-width {
    	width: 50%;
    }
    .columns {
    	width: 48%;
    	margin-top: 10px;
    }
    .columns-1 {
    	transform: unset;
    	width: 48%;
    	margin-top: 10px;
    }
    .flex {
    	display: flex;
    	justify-content: space-between!important;
    }
    .price-1 li {
    	padding: 13px;
    }
    .whyus-width-2 {
    	width: 100%;
    	margin-top: 20px; 
    }
    .top-bar {
		height: 44px;
    } 
	.tb-width-1 {
	    width:19%;
	}
	.tb-width-2 {
	    width:48%;
	}
	.tb-width-3 {
	    width:25%;
	}
	.copy-data p {
    	width: 50%;
	} 
	.copy-data div {
    	width: 50%;
	}
}
@media only screen and (max-width: 825px) {
	.top-bar {
		height: 38px;
    } 
	.tb-width-1 {
	    width:25%;
	}
	.tb-width-2 {
	    width:60%;
	}
	.tb-width-3 {
	    display: none;
	}
}
@media only screen and (max-width: 768px) {
    .client-width, .visitor-widths-2, .visitor-widths-1, .visitors-widths-2,
     .visitors-widths-1, .visitors-width-2, .visitors-width-1, .columns,
      .columns-1, .whyus-width-2 .whyus-width-3 {
    	width: 100%;
    }
    .wfts, .wfts1 {
		width: 50%;
    }
    .whyus-icons {
    	right: 45%;
    }
    .banner-width-2 img {
    	width: 80%;
    }
    .banner-data {
    	width: 90%;
    }
    .copy-data p {
    	width: 100%;
	} 
	.copy-data div {
    	width: 100%;
    	padding-top: 20px;
	}
	.copy-data {
		justify-content: center!important;
	}    
}
@media only screen and (max-width: 670px) {
	.top-bar {
		height: 60px;
    } 
	.tb-width-1 {
	    width:50%;
	}
	.tb-width-2 {
	    display: none;
	}
	.banner-width-2 img {
    	width: 90%;
    }
    .banner-data {
    	width: 100%;
    }
}
@media only screen and (max-width: 576px) {
    .wfts, .wfts1 {
    	width: 100%;
    	margin-top: 30px;
    }
    .top-bar {
		height: 49px;
    } 
	.tb-width-1 {
	    width:50%;
	}
}