@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Play', sans-serif;
    font-size: 16px;
}

.flex-1 {
    display: flex;
    justify-content: center;
}

.flex-2 {
    display: flex;
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-items {
    align-items: center;
}

.page-1 {
    width: 75%;
}

.page-2 {
    width: 100%;
}

.page-3 {
    width: 70%;
}


/*top bar*/

.top-bar {
    height: 60px;
}

.tb-width-1 {
    width: 18%;
}

.tb-width-1 img {
    width: 100%;
}

.tb-width-2 {
    width: 34%;
}

.tb-width-2 nav ul {
    display: flex;
}

.tb-width-2 nav ul li {
    list-style-type: none;
    padding-right: 15px;
}

.tb-width-2 nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.tb-width-3 {
    width: 33%;
}

.tb-width-3 a {
    border: 1px solid #000;
    background-color: #000;
    padding: 5px 10px 5px 10px!important;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
}

.tb-width-3 i {
    padding-right: 20px;
    font-size: 34px!important;
}


/*banner*/

.banner {
    height: 100vh;
    background-image: url(../images/banner.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 93, 106, 0.88);
}

.banner-data {
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.header-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.header-search input {
    padding: 10px 10px 10px 30px;
    width: 50%;
    border: unset;
    color: #9CB4C8;
    border-radius: 25px 0px 0px 25px;
    font-weight: 700;
    outline: unset;
}

.header-search label {
    background-color: #fff;
    padding: 8.5px 25px 11.5px 0px;
    font-size: 18px;
    color: #9CB4C8;
    border-radius: 0px 25px 25px 0px;
    margin-left: -5px;
    margin-top: 17px;
    /* background-color: #fff;
	padding: 9px 25px 0px 0px;
	font-size: 18px;
	color: #9CB4C8;
	border-radius: 0px 25px 25px 0px; */
}


/*what we do*/

.we {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    height: 94vh;
}

.we-data {
    padding-bottom: 30px;
}

.we-data h2 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
}


/*Awesome app features*/

.app {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.app-data {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.app-datas {
    width: 50%;
    align-items: center;
}

.app-datas div {
    display: flex;
    justify-content: center;
}

.app-datas h2 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    margin: 0px;
}

.app-datas hr {
    width: 8%;
    color: #115C69;
    border: 1px solid #6EC2D1;
    margin: 4px 0px 6px 0px;
}

.app-datas p {
    font-size: 12px;
    color: #777;
}

.app-data-1 {
    display: flex;
    justify-content: center;
}

.app-width-1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0px 60px 0px;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.app-width-2 {
    width: 32%;
    padding: 15px;
    position: relative;
    text-align: center;
    box-shadow: -2px 3px 49px -26px rgba(0, 0, 0, 0.76);
    margin-top: 30px;
}

.app-width-2 p {
    font-size: 11px;
    color: #777;
}

.app-width-2 h3 {
    font-size: 16px;
    font-weight: 700;
    color: #6EC2D1;
}

.app-width-2 i {
    font-size: 32px;
}

.app-custom-2 h3 {
    color: #000;
}

.app-custom-2 i {
    color: #6EC2D1;
}


/*how it works*/

.how-width-1 {
    width: 50%;
}

.how-width-1 img {
    width: 85%;
}

.how-width-2 {
    padding-top: 60px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.how-width-data {
    width: 70%;
}

.how-width-data h3 {
    font-size: 30px;
    font-weight: bold;
}

.how-width-data-1 {
    display: flex;
    justify-content: flex-start;
}

.how-width-data-2 {
    display: flex;
    justify-content: flex-start;
}

.how-width-data-2 p {
    width: 75%;
    font-size: 12px;
    color: #777;
}

.how-width-data-1 hr {
    width: 9%;
    border: 1px solid #6EC2D1;
    margin: 0px 0px 12px 0px;
}

.how-data-1 {
    display: flex;
    justify-content: center;
}

.how-widths-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0px 60px 0px;
    margin-top: 30px;
}

.how-widths-2 {
    width: 48%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.width-how-1 {
    width: 15%;
    display: flex;
    align-items: center;
}

.width-how-1 i {
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    font-weight: 400;
    background-color: #6EC2D1;
    color: white;
}

.width-how-2 {
    width: 80%;
}

.width-how-2 p {
    color: #777;
    font-size: 14px;
}

.width-how-2 h3 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}


/*screen shots*/

.screenshots {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.ss-width {
    width: 100%;
    margin-bottom: 30px;
}

.ss-width img {
    width: 100%;
}


/*overview*/

.view {
    background-color: #26303B;
}

.view-data {
    width: 50%;
    padding: 40px 0px;
    text-align: center;
}

.view-data p {
    color: #D8D9DA;
    font-size: 26px;
    font-weight: 400;
}

.view-data i {
    color: #fff;
    font-size: 20px;
    background-color: #1A9FB6;
    padding: 14px 10px 14px 14px;
    width: 62px;
    border-radius: 50%;
    margin: 20px 0px;
}


/*membership plan*/

.plan {
    margin-top: 40px;
    margin-bottom: 75px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    height: 500px;
    overflow-y: auto;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #fff;
    color: #000;
    font-size: 25px;
    border-bottom: unset;
    padding: 25px 0px 0px 0px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    color: #777;
}

.price .grey {
    background-color: #fff;
    font-size: 30px;
    border-bottom: unset;
    color: #1A9FB6;
    padding: 0px 0px 0px 0px;
}

.plan-custom {
    padding: 12px 0px 20px 0px!important;
}

.button {
    background-color: #1A9FB6;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 7px;
    margin: 8px 0px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}


/*subscribe*/

.subscribe {
    background-color: #115C69;
    text-align: center;
    padding: 40px 0px 20px 0px;
}

.sub-data {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.sub-datas {
    width: 50%;
    align-items: center;
}

.sub-datas div {
    display: flex;
    justify-content: center;
}

.sub-datas h2 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    margin: 0px;
    color: #fff;
}

.sub-datas hr {
    width: 10%;
    color: #115C69;
    border: 1px solid #89A8BC;
    margin: 4px 0px 6px 0px;
}

.sub-datas p {
    font-size: 12px;
    color: #DEE5E6;
}

.sub-width-1 {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.sub-width-1 input {
    width: 75%;
    padding: 10px 0px 10px 21px;
    border: unset;
    outline: unset;
    border-radius: 8px;
}

.sub-width-2 {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.sub-width-2 button {
    background-color: black;
    color: #fff;
    font-size: 14px;
    padding: 15px 35px 15px 35px;
    border: unset;
    border-radius: 8px;
}


/*footer*/

.footer {
    background-color: #115C69;
}

.wfts {
    width: 24.5%;
}

.wfts h3 {
    color: #fff;
    font-size: 16px;
    font: 400 20px/26px "Open Sans", sans-serif;
}

.wfts p {
    color: #fff;
    font-size: 14px!important;
    font: 400 20px/26px "Open Sans", sans-serif;
    color: #DEE5E6;
}

.wfts h1 {
    color: #fff;
    font-size: 14px!important;
    font: 400 20px/26px "Open Sans", sans-serif;
    color: #DEE5E6;
    margin-top: 20px;
}

.wfts h1 i {
    padding-right: 10px;
    font-size: 16px;
}

.wfts a {
    border: 1px solid #DEE5E6;
    color: #DEE5E6;
    padding: 10px 22px 10px 22px;
    text-decoration: none;
    border-radius: 5px;
}

.pad {
    padding: 60px 0px;
}

.copy {
    background-color: black;
    color: white;
    padding: 12px 0px;
}

@media only screen and (max-width: 1230px) {
    .top-bar {
        height: 52px;
    }
    .tb-width-1 {
        width: 22%;
    }
    .tb-width-2 {
        width: 40%;
    }
    .tb-width-3 {
        width: 30%;
    }
    .how-width-1 {
        width: 55%;
    }
    .how-width-2 {
        width: 45%;
    }
    .how-width-1 img {
        width: 93%;
    }
    .how-width-data {
        width: 100%;
    }
    .width-how-1 i {
        font-size: 25px;
    }
    .sub-width-1 {
        width: 70%;
        padding-right: 32px;
    }
    .wfts a {
        padding: 10px 3px 10px 3px;
    }
    .header-search input {
        width: 62%;
    }
}

@media only screen and (max-width: 992px) {
    .visitors-width-1,
    .visitors-width-2,
    .visitors-widths-1,
    .visitors-widths-2,
    .visitor-widths-1,
    .visitor-widths-2 {
        width: 48%;
        margin-top: 10px;
    }
    .about-width,
    .whyus-width-1,
    .banner-width-1,
    .banner-width-2 {
        width: 100%;
    }
    .columns {
        width: 48%;
        margin-top: 10px;
    }
    .columns-1 {
        transform: unset;
        width: 48%;
        margin-top: 10px;
    }
    .flex {
        display: flex;
        justify-content: space-between!important;
    }
    .price-1 li {
        padding: 13px;
    }
    .whyus-width-2 {
        width: 100%;
        margin-top: 20px;
    }
    .top-bar {
        height: 51px;
    }
    .tb-width-1 {
        width: 19%;
    }
    .tb-width-2 {
        width: 48%;
    }
    .tb-width-3 {
        width: 32%;
    }
    .app-width-2 {
        width: 48%;
    }
    .app-datas {
        width: 65%;
    }
    .how-width-1 {
        width: 100%;
    }
    .how-width-2 {
        width: 100%;
    }
    .how-width-1 img {
        width: 75%;
    }
    .how-width-data {
        width: 80%;
    }
    .how-width-2 {
        display: flex;
        justify-content: center;
    }
    .width-how-1 i {
        font-size: 27px;
    }
    .sub-datas {
        width: 70%;
    }
    .sub-width-1 input {
        width: 83%;
    }
    .sub-width-1 {
        width: 78%;
        padding-right: 28px;
    }
    .wfts {
        width: 50%;
        padding-top: 30px;
    }
    .header-search input {
        width: 75%;
    }
    .pad {
        padding: 15px 0px;
    }
}

@media only screen and (max-width: 825px) {
    .top-bar {
        height: 41px;
    }
    .tb-width-1 {
        width: 25%;
    }
    .tb-width-2 {
        width: 60%;
    }
    /* .tb-width-3 {
        display: none;
    } */
}

@media only screen and (max-width: 768px) {
    .client-width,
    .visitor-widths-2,
    .visitor-widths-1,
    .visitors-widths-2,
    .visitors-widths-1,
    .visitors-width-2,
    .visitors-width-1,
    .columns,
    .columns-1,
    .whyus-width-2 .whyus-width-3 {
        width: 100%;
    }
    .wfts,
    .wfts1 {
        width: 50%;
    }
    .whyus-icons {
        right: 45%;
    }
    .app-width-2 {
        width: 100%;
    }
    .app-datas {
        width: 80%;
    }
    .sub-datas {
        width: 80%;
    }
    .sub-width-1 input {
        width: 88%;
    }
    .sub-width-1 {
        width: 83%;
        padding-right: 25px;
    }
    .header-search input {
        width: 80%;
    }
    .pad {
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 670px) {
    .top-bar {
        height: 66px;
    }
    .tb-width-1 {
        width: 50%;
    }
    .tb-width-2 {
        display: none;
    }
    .app-datas {
        width: 85%;
    }
    .how-width-data {
        width: 87%;
    }
    .width-how-1 i {
        font-size: 24px;
    }
    .view-data {
        width: 70%;
    }
    .sub-datas {
        width: 88%;
    }
    .sub-width-1 {
        padding-right: 22px;
    }
    .header-search input {
        width: 85%;
    }
    .pad {
        padding: 2px 0px;
    }
}

@media only screen and (max-width: 576px) {
    .wfts,
    .wfts1 {
        width: 100%;
        margin-top: 30px;
    }
    .top-bar {
        height: 49px;
    }
    .tb-width-1 {
        width: 50%;
    }
    .app-datas {
        width: 100%;
    }
    .how-width-data {
        width: 95%;
    }
    .how-width-data {
        width: 94%;
    }
    .width-how-1 i {
        font-size: 20px;
    }
    .view-data {
        width: 85%;
    }
    .sub-datas {
        width: 97%;
    }
    .sub-width-1 {
        padding-right: 12px;
        width: 90%;
    }
    .sub-width-1 input {
        width: 95%;
    }
    .header-search input {
        /* width: 92%; */
        width: 80%;
    }
    .pad {
        padding: 0px;
    }
}

.ser-respon-menu {
    display: none;
}

.ser-respon-menu i {
    font-size: 24px;
    color: #51616D;
}

.ser-respon-menu i:hover {
    color: #1A9FB6;
    cursor: pointer;
}

.ser-mobile-menu-sec {
    display: none;
    justify-content: center;
    padding: 50px 0px;
    position: fixed;
    top: 0px;
    background-color: #1A9FB6;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition-duration: 0.5s;
}

.ser-menu-page {
    background-color: #fff;
    width: 80%;
    padding: 50px 30px;
    position: relative;
}

.ser-mobile-menu-logo img {
    width: 250px;
}

.ser-mobile-menu-cross i {
    font-size: 24px;
    color: #51616D;
}

.ser-mobile-menu-cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.ser-mobile-menu-cross:hover {
    transform: rotate(180deg);
}

.ser-mobile-menu-cross i:hover {
    color: #1A9FB6;
}

.home-page-header-guide-mobile {
    margin-top: 20px;
}

.home-page-header-guide-mobile a {
    padding: 5px 20px;
    border: 2px solid #1A9FB6;
    color: #1A9FB6;
    background-color: transparent;
}

.home-page-header-guide-mobile a:hover {
    color: #fff;
    background-color: #1A9FB6;
}

.ser-mobile-menu-links .ser-mobile-menu-a a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.ser-mobile-menu-links .ser-mobile-menu-a a:hover {
    color: #1A9FB6;
}

.ser-mobile-show-icon {
    display: none;
}

.ser-mobile-show-icon i {
    font-size: 22px;
    cursor: pointer;
}

.ser-mobile-show-icon i:hover {
    color: #1A9FB6;
}

@media only screen and (max-width: 830px) {
    .ser-mobile-show-icon {
        display: block;
    }
    .tb-width-2ser {
        display: none
    }
    .tb-width-3ser a {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .ser-mobile-menu-logo img {
        width: 150px;
    }
    .sub-width-1,
    .sub-width-2 {
        width: 100%;
    }
}