a,
a:hover,
.btn-anim-primary:hover,
.required-star,
.top-navbar .active a,
.top-navbar a:hover,
.logo-bar-icons .nav-search-box .nav-box-link:hover,
.logo-bar-icons .nav-compare-box .nav-box-link:hover,
.logo-bar-icons .nav-wishlist-box .nav-box-link:hover,
.logo-bar-icons .nav-cart-box .nav-box-link:hover,
.main-nav-area .navbar-nav .nav-item.active .nav-link,
.main-nav-area .navbar-nav .nav-item .nav-link:hover,
.category-sidebar .all-category a:hover,
.card .sub-cat-items li a:hover,
.product-description-wrapper .product-price,
.breadcrumb li a:hover,
.widget-profile-menu a.active i,
.product-title a:hover,
.price-box .product-price,
.footer-top-box i,
.flash-deal-item .price,
.category-widget ul li a:hover,
.product-box-3 .title a:hover,
.all-category-menu ul li a:hover,
.typed-search-box .category a,
.process-steps li.done .title,
.process-steps li.active .title,
.top-navbar .top-navbar-menu>ul.top-menu>li>a:hover,
.top-navbar .top-navbar-menu ul.top-menu>li ul.sub-menu>li>a:hover,
.top-navbar--inverse .top-navbar-menu>ul.top-menu>li>a:hover,
.top-navbar .top-navbar-links .top-bar-date a:hover,
.top-navbar .top-navbar-links .top-bar-link a:hover,
.top-navbar .topbar-login>li a:hover,
.navbar-nav .nav-item-icon .nav-link:focus,
.navbar-nav .nav-item-icon .nav-link:hover,
.navbar-nav .nav-item-icon.show .nav-link,
.navbar-nav .nav-item-icon.show .nav-link,
.navbar-nav .nav-item-icon.show .nav-link:focus,
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .open .dropdown-item,
.mega-dropdown-menu>li>ul>li>a:hover,
.mega-dropdown-menu .meganav-section-title>a:hover,
.st-profile .profile-user-name,
.link,
.link--style-1:hover,
.link--style-2,
.link--style-2,
.link--style-2:hover,
.link--bb-1:hover,
.heading:hover>a,
.heading-inverse:hover>a,
.icon-pic--style-1,
.badge-duration,
.block-author .author-info .author-name>a:hover,
.block.block--style-1.grid .block-category,
.block--style-3 .block-price,
.block-quote .quote-icon,
.block-testimonial>.quote,
.block.article .meta-tags a,
.block.article.grid .article-category,
.block.article.list .article-category,
.article-wrapper .article-title>a:hover,
.block.product .product-title a:hover,
.block.property .block-content .content-title,
.block-comment .block-body .comment-options>a:hover,
.block-cell .block-text p.price,
.btn-inline-links>a:after,
.btn-base-1.btn-outline,
.bg-base-1 .btn-base-5:hover,
.card-title>.btn-aux:hover>.aux-text,
.card-blockquote>footer,
.card-outer-quote,
.card-fill--hover:hover i,
.accordion--style-3 .card-header>.card-title>a[aria-expanded="true"],
.accordion--style-4 .card-header>.card-title>a[aria-expanded="true"],
.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after,
.checkbox-alphanumeric input:checked~label,
.custom-input-file--2+label,
.custom-input-file--3+label,
.custom-input-file--4+label,
.icon-block--style-1-v1 .block-icon>.icon-number,
.icon-block--style-1-v1 .block-icon i,
.icon-block--style-1-v3 .block-icon i,
.icon-block--style-1.v3 .block-icon i,
.icon-block--style-1-v5.active .block-icon,
.icon-block--style-3-v1>i,
ul.icons li>a:hover,
ul.inline-links>li>a:hover,
ul.inline-links>li>a:hover>.heading,
ul.inline-links.inline-links--style-2>li:before,
ul.categories>li:hover>a,
ul.categories>li>ul>li>a.active,
ul.categories--style-1>li>a:hover>.category-name,
ul.categories--style-3>li>a:hover,
ul.categories--style-3>li>a.active,
ul.categories--style-3>li>ul>li>a.active,
.sidebar .list-unstyled>li:hover>a,
.list-recent .post-author,
.list-recent .post-author a:hover,
.list-recent .post-title a:hover,
.list-icon--style-1 i,
.meta-category a,
.section-title--style-1 .underlay-subtitle,
.table-cart .cart-item-content .cart-item-title:hover,
.nav-tab-image-wrapper:hover .nav-tab-image-title,
.tabs--style-2>.nav-tabs>li.active>a>i,
.swiper-button--style-1:active,
.swiper-button--style-1:focus,
.swiper-button--style-1:hover,
.swiper-button--style-2:hover,
.shop-cards .product.product--style-2 .product-content .product-icon-btn.active,
.shop-cards .product.product--style-2 .product-content .product-icon-btn:hover,
.product .product-actions--2 .btn-product-action:hover,
.product .product-actions--3 .btn-product-action:hover,
.search-widget--style-2 button.btn-inner:hover,
.sidebar .sidebar-search-widget button:hover,
.link-menu--style-1>a.active,
.link-menu--style-1>a:hover,
.tabs--style-2 .nav-tabs .nav-item.show .nav-link,
.tabs--style-2 .nav-tabs .nav-link.active,
.tabs--style-2 .nav-tabs .nav-link:hover,
.product-box-1 .title a:hover,
.product-box-1 .price-bar .price,
.sub-category-menu ul li a:hover,
.product-box-2 .add-to-cart {
    color: #1fbbd6;
}

.hov-shaddow:hover {
    box-shadow: 0 3px 10px rgba(230, 46, 4, .4)
}

.btn-alt-base-1 {
    background: #fc8a1a;
}

.c-base-1,
.link-menu--style-2 a.active {
    color: #1fbbd6 !important;
}

.search-box button,
.widget-profile-menu a:hover,
button.paction.add-wishlist:hover,
button.paction.add-compare:hover,
.home-slide .slick-dots li.slick-active button,
.home-slide .slick-dots li button:hover,
.caorusel-box .slick-dots li.slick-active button,
.caorusel-box .slick-dots li button:hover,
.flash-deal-box .countdown .countdown-digit,
.flash-content.c-scrollbar,
.process-steps li.done .icon,
.process-steps li.done:after,
.process-steps li.active:after,
.process-steps li.active .icon,
.side-menu-header,
.section-title-1:before,
.top-navbar .top-navbar-menu ul.top-menu>li ul.sub-menu>li .language-active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .show .nav-link,
.navbar-nav .show .nav-link:focus,
.navbar-nav .show .nav-link:hover,
.btn-back-to-top,
.block.article .video-hover-play a:hover:before,
.card-hover--animation-1:hover .btn,
.carousel--style-1 .carousel-control:hover,
.sd-1:before,
.sd-base-1:before,
.footer--style-1,
.form-material .bar:after,
.form-material .bar:before,
input:checked+.toggle-switch-slider:before,
.feature--boxed-border.active:after,
.icon-block--style-2-v2.active .block-icon,
.icon-block--style-2-v2:hover .block-icon,
.icon-block--style-4 .block-icon,
.list-wrapper,
.nav-pills .nav-link:focus,
.nav-pills .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills--style-3 .nav-link:focus,
.nav-pills--style-3 .nav-link:hover,
.nav-pills--style-3.nav-pills-inverse .nav-link:focus,
.nav-pills--style-3.nav-pills-inverse .nav-link:hover,
.nav-pills--style-3.nav-pills-inverse .nav-link.active,
.nav-pills--style-3.nav-pills-inverse .nav-link.active:focus,
.nav-pills--style-3.nav-pills-inverse .nav-link.active:hover,
.pricing-plans--style-1 .block-pricing.active,
.pricing-plans--style-2 .block-pricing.active .plan-title,
.pricing-plans--style-3 .block-pricing .plan-title-wrapper.active,
.promos.bg-base-1 .promo,
.bg-base-1 .section-title--style-2.text-center .section-title-inner>span,
[class*="social-media--style-1"]>li>a:hover,
.social-media.social-media--style-1-v1>li>a,
.social-media.social-media--style-1-v2>li>a:hover,
.social-media.social-media--style-1-v3>li>a:hover,
.social-media-brand-color:not(.social-media-brand-color--hover)>li>a:hover,
.tabs--style-1 .nav-tabs>li>a:hover,
.tabs--style-1 .nav-tabs>li>a.active,
.tabs--style-1 .nav-tabs>li.active>a,
.tabs--style-1 .nav-tabs>li.active>a:focus,
.tabs--style-1 .nav-tabs>li.active>a:hover,
.timeline::before,
.noUi-connect,
.swiper-pagination--style-1 .swiper-pagination-bullet-active,
.swiper-pagination-bullet-active,
.view-fifth h2,
.profile-picture.btn-aux:hover,
.product .product-actions--1 .btn-product-action:hover,
.search-widget--style-5 .btn-inner:focus,
.search-widget--style-5 .btn-inner:hover,
.tagcloud a,
.tagcloud--style-1 a:hover,
.contacts .contact-footer>button:hover,
.play-video--1,
.link-menu--style-3>a.active,
.link-menu--style-3>a:hover,
.section-title-1 li a.active,
.section-title-1 li a:hover,
.product-box-1 .cart-add .btn:hover {
    background: #1fbbd6;
}

.pace .pace-progress,
.widget-profile-menu a:hover {
    background: #1fbbd6 !important;
}

.btn-anim-primary:before,
.bootstrap-tagsinput .label,
.logo-bar-icons .nav-search-box .nav-box-number,
.logo-bar-icons .nav-compare-box .nav-box-number,
.logo-bar-icons .nav-wishlist-box .nav-box-number,
.logo-bar-icons .nav-cart-box .nav-box-number,
.side-menu-list ul li .badge,
.navbar.bg-base-1,
.btn-base-1,
.vd--1,
.vd--2,
.checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="radio"]:checked+label::before,
.radio input[type="radio"]:checked+label::after,
.radio-primary input[type="radio"]+label::after,
.radio-primary input[type="radio"]:checked+label::after,

/* .custom-input-file + label,
.custom-input-file--4 + label strong, */

.form-card--style-2 .form-header,
.modal[data-modal-color=base-1] .modal-content,
.pagination>.active .page-link,
.pagination>.active .page-link:focus,
.pagination>.active .page-link:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pager .page-item .page-link:focus,
.pager .page-item .page-link:hover,
.progress-bar,
.flatpickr-month,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before,
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle,
.input-group-btn-vertical>.btn:hover,
#map-zoom-in:hover,
#map-zoom-out:hover,
.product-box-2 .add-to-cart:hover {
    background-color: #1fbbd6;
}

.btn-base-1.btn-outline:active,
.btn-base-1.btn-outline:focus,
.btn-base-1.btn-outline:hover,
.flatpickr-day.selected,
.flatpickr-day.selected:hover,
.bg-base-1 {
    background-color: #1fbbd6 !important;
}

.btn-anim-primary,
.form-control:focus,
.sub-cat-featured a:hover,
.brands-collapse-box li:hover,
.widget-profile-menu a.active,
button.paction.add-wishlist:hover,
button.paction.add-compare:hover,
.all-category-menu ul li.active,
.all-category-menu ul li.active:before,
.product-gal-thumb a img.xactive,
label.payment_option input:checked+span,
.link--bb-1,
.ribbon.bg-base-1:before,
.ribbon.bg-base-1:after,
.btn-base-1,
.card-hover--animation-1:hover .btn,
.delimiter-left-thick--style-1,
.checkbox input[type="checkbox"]:checked+label::before,
.checkbox input[type="radio"]:checked+label::before,
.checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="radio"]:checked+label::before,
.radio-primary input[type="radio"]:checked+label::before,
input:checked+.toggle-switch-slider:before,
input:checked+.toggle-switch-slider,
.checkbox-alphanumeric input:checked~label,

/* .custom-input-file + label,
.custom-input-file--2 + label,
.custom-input-file--4 + label, */

a>.feature--boxed-border:hover,
.icon-block--style-1-v3 .block-icon,
.icon-block--style-1-v5.block-bordered-grid-animated:hover .block-inner::after,
.icon-block--style-2-v2.active .block-icon,
.icon-block--style-2-v2:hover .block-icon,
.icon-block--style-4:hover .block-icon::after,
.pagination>.active .page-link,
.pagination>.active .page-link:focus,
.pagination>.active .page-link:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pricing-plans--style-2 .block-pricing.active .plan-title,
.nav-tab-image-wrapper:hover .nav-tab-image,
.tabs--style-1 .nav-tabs>li>a.active,
.tabs--style-1 .nav-tabs>li:first-child>a.active,
.tabs--style-2 .nav-tabs .nav-item.show .nav-link,
.tabs--style-2 .nav-tabs .nav-link.active,
.tabs--style-2 .nav-tabs .nav-link:hover,
.timeline-img,
.dropzone,
.milestone-counter .milestone-delimiter,
.search-widget .form-control:focus,
.search-widget--style-5 .form-control:focus,
.search-widget--style-5 .form-control:hover,
.typeface-palette a.active>.typeface-entry,
.typeface-palette a.active:hover>.typeface-entry,
.section-title-1 li a.active,
.section-title-1 li a:hover,
.bg-base-1 .btn-base-1,
.product-box-2 .add-to-cart,
.seller-shop-menu li.active a,
.seller-shop-menu li a:hover {
    border-color: #1fbbd6;
}

.btn-base-1.btn-outline,
.btn-base-1.btn-outline:active,
.btn-base-1.btn-outline:focus,
.btn-base-1.btn-outline:hover {
    border-color: #1fbbd6 !important;
}

.slice--arrow.slice--arrow.bg-base-1:before,
.badge-corner-base-1,
.block--style-4-v2 .block-body.bg-base-1:after,
.form-card--style-2 .form-header:after,
.icon-block--arrow .block-icon:after {
    border-top-color: #1fbbd6;
}

@media (min-width: 992px) {
    .navbar--style-1 .navbar-nav .nav-link:focus,
    .navbar--style-1 .navbar-nav .nav-link:hover,
    .navbar--style-1 .navbar-nav .show .nav-link,
    .navbar--style-1 .navbar-nav .show .nav-link:focus,
    .navbar--style-1 .navbar-nav .show .nav-link:hover,
    .navbar--style-1 .navbar-nav .show .nav-link::after,
    .navbar--style-1 .navbar-nav .nav-link:hover::after,
    .navbar--style-1 .navbar-nav .nav-link:focus::after,
    .navbar-dropdown--inverse .dropdown-menu .dropdown-item:focus,
    .navbar-dropdown--inverse .dropdown-menu .dropdown-item:hover,
    .navbar-dropdown--inverse .dropdown-menu .open .dropdown-item,
    .mega-dropdown-menu .mega-dropdown-col-icon>a:hover,
    .navbar-dropdown--inverse .mega-dropdown-menu .meganav-section-title>a:hover {
        color: #1fbbd6;
    }
    .tabs .nav-pills.nav-pills--rounded .active .nav-pill .nav-pill-circle,
    .tabs .nav-pills.nav-pills--rounded a.active:hover .nav-pill .nav-pill-circle {
        background: #1fbbd6;
    }
}

@media (max-width: 991px) {
    .navbar-nav .nav-link:focus,
    .navbar-nav .nav-link:hover,
    .navbar-nav .show .nav-link,
    .navbar-nav .show .nav-link:focus,
    .navbar-nav .show .nav-link:hover,
    .navbar-inverse .dropdown-menu .dropdown-item:focus,
    .navbar-inverse .dropdown-menu .dropdown-item:hover {
        color: #1fbbd6;
    }
}

@media (min-width: 992px) and (min-width: 992px) {
    .navbar-aside .navbar-expand-lg .navbar-nav .nav-link:hover,
    .navbar-aside .navbar-expand-lg .navbar-nav .nav-link:focus,
    .navbar-aside .navbar-expand-lg .navbar-nav .show .nav-link,
    .navbar-aside .navbar-expand-lg .navbar-nav .show .nav-link:hover {
        color: #1fbbd6;
    }
}

.shape-container[data-shape-fill="primary"] .shape-item {
    fill: #1fbbd6;
}

input:focus+.toggle-switch-slider {
    box-shadow: 0 0 1px #1fbbd6;
}

.bg-base-1.ss-style-zigzag::after {
    background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #1fbbd6), color-stop(0.25, #1fbbd6));
    background-image: linear-gradient(135deg, #1fbbd6 25%, transparent 25%), linear-gradient(225deg, #1fbbd6 25%, transparent 25%);
}

.photostream .photo-wrapper img:hover {
    box-shadow: 0 0 0 3px #1fbbd6;
}

.map-container address {
    background-color: fade(#1fbbd6, 80%);
}


/* ------------------------------hover color------------------------------ */

.btn-base-1:active,
.btn-base-1.active,
.btn-base-1:focus,
.btn-base-1:hover,
.bg-base-1 .btn-base-1,
.bg-base-1 .btn-base-1:active,
.bg-base-1 .btn-base-1:focus,
.bg-base-1 .btn-base-1:hover,
.form-base-1 .form-control,
.form-base-1 .input-group-addon,
.form-base-1 .form-control:focus,

/* .custom-input-file + label:hover,
.custom-input-file.has-focus + label,
.custom-input-file:focus + label, */

.icon-block--style-1-v5 .block-icon-circle,
.promos.bg-base-1 .promo .price,
.ss-style-invertedrounded::after,
.ss-style-invertedrounded::before,
.social-media.social-media--style-1-v1>li>a:hover {
    background-color: #bd2502;
}

.cta-wrapper>a:hover>.bg-base-1 {
    background: #bd2502 !important;
}

.btn-base-1:active,
.btn-base-1.active,
.btn-base-1:focus,
.btn-base-1:hover,
.bg-base-1 .btn-base-1:active,
.bg-base-1 .btn-base-1:focus,
.bg-base-1 .btn-base-1:hover,
.custom-input-file--2+label:hover,
.custom-input-file--2.has-focus+label,
.custom-input-file--2:focus+label,
.product .product-actions--1 .btn-product-action:hover {
    border-color: #bd2502;
}

.custom-input-file--2+label:hover,
.custom-input-file--2.has-focus+label,
.custom-input-file--2:focus+label {
    color: #bd2502;
}

@media (min-width: 768px) {
    .promos.bg-base-1 .scale {
        box-shadow: 0 0 4px 1px #bd2502;
    }
}