$primary-color:#FF0068;
$seconday-color:#000;
$text-primary:#000;
$white:#fff;
$body-color:#E3EAF1 !important;
$text-secondary:#6c757d!important;
$box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
@mixin transition {
    transition: all 0.5 ease-in-out;
}
@mixin box-shadow-none($noshadow:none !important) {
      -webkit-box-shadow:$noshadow;
      -moz-box-shadow:$noshadow;
      box-shadow:$noshadow;

  }
  @mixin radius-circle($border:100% !important) {
    -webkit-border-radius:$border;
    -moz-border-radius:$border;
    border-radius:$border;

}

  @mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}


.btn-cart-circle{
    background-color:$primary-color;
    width:2rem;
    height:2rem;
    line-height:2rem;
    @include radius-circle;
    text-align: center;
    color:$white;
    padding:0;
}