@import 'config';
.category-sidebar{
    .all-category{
        background-color:transparent;
        padding-left:0;
    }
    .categories{
        display:flex;
        height: 140px;
    li{
    width: 135px;
    height: 98% !important;
    padding-bottom: 10px;
    padding-right: 0;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    @include transition;
    background:#fff;
    @include transition;

    &:hover{
        background:$primary-color;
        color:#fff;
        a{
            color:#fff !important;
           
           }
       }
    a{
       color:$text-secondary;
       padding: 12px 8px;
    }
    }
    
}
    
}

.p-4.bg-white.shadow-sm{
background:transparent!important;
padding:0 !important;
@include box-shadow-none;

}
.product-box-2{
    @include border-radius(15px);
    background:$white;
}
.price-box{ 
    .product-price{
        font-weight: 400px;
        font-size: .8rem;
        display: inline;
    }
}
.product-title{
    font-size:.8rem;
    font-weight: bold;
    color:$seconday-color;
    margin:0;
    a{
        color:$seconday-color;
    }
}