@import 'products';

body, .body-wrap{
    background:$body-color;
}
.section-title-1{
    margin-bottom:0;
}
.section-title-1:before{
    background:transparent !important;
}
.card{
    @include border-radius(15px);
    overflow:hidden;
}
/* footer */
.footer {
    width: 100%;
    height: auto;
    position: fixed;
    padding: env(safe-area-inset-bottom);
    bottom: 0;
    left: 0;
    z-index: 9;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    background: #ffffff;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}


.footer .btn {
    width: 60px;
    height: 60px;
    line-height: 54px;
    padding: 0;
    text-align: center;
    display: block;
    vertical-align: middle;
}

.footer .btn i {
    width: 22px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
}

.footer .centerbutton {
    height: 60px;
    line-height: 54px;
    width: 60px;
    border-radius: 30px;
    margin: 0 15px;
    margin-top: -20px;
    background-color:$primary-color;
    color:#fff;
    font-size:1.8rem;
}
