@media only screen and (max-width: 991px) {
.btn-cart-circle {
  background-color: #e62e04;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 100% !important;
  text-align: center;
  color: #fff;
  padding: 0;
}

.category-sidebar .all-category {
  background-color: transparent;
  padding-left: 0;
}

.category-sidebar .categories, .all-category-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
}
.all-category-menu ul {
  padding:0 !important;
  box-shadow: none !important;
}
.all-category-menu ul li:before{
  border:none !important;
}
.category-sidebar .categories li, .all-category-menu ul li{
  width: 135px;
  height: 98% !important;
  padding-bottom: 10px;
  padding-right: 0;
  border-radius: 15px;
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
  background: #fff;
  transition: all 0.5 ease-in-out;
  -moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.all-category-menu ul li a{
  height:100%;
}
.category-sidebar .categories li:hover {
  background: #e62e04;
  color: #fff;
}

.category-sidebar .categories li:hover a {
  color: #fff !important;
}

.category-sidebar .categories li a {
  color: #6c757d !important;
  padding: 12px 8px;
}

.p-4.bg-white.shadow-sm {
  background: transparent !important;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.product-card-1, .product-box-2, .content-sm-radius, .product-card-2, .product-box-1{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background: #fff;
  overflow: hidden;
  padding:0.9rem;
  -moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.product-box-1 .price-bar{
  padding:0;
}
.product-box-1 .price-bar .star-rating-sm{
  margin:3px 0;
}
.price-box .product-price {
  font-weight: 600;
  font-size: .9rem !important;
  display: inline;
}
.product-price.detail{
  font-size:1.5rem;
  text-align: left;
}
.product-title {
  font-size: .8rem;
  font-weight: bold;
  color: #343a40;
  margin: .9rem 0 0 0;
  padding:0;
}

.product-title a, .product-box-1 .title a {
  color: #343a40;
  white-space: normal;
  min-height: 3em;
}
.product-card-1 .product-image-container, .product-card-1 .product-details{
  margin:0;
  padding:0;
}
.product-box-2.alt-box .product-btns{
  opacity: 1;
  position: relative;
  bottom:inherit;
}
.category-sidebar .all-category{
  height:auto;
  line-height: inherit;
}
.category-sidebar .all-category > span{
  font-weight: bold;
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
}
body, .body-wrap {
  background: #E3EAF1 !important;
}

.section-title-1 {
  margin-bottom: 0;
}

.section-title-1:before {
  background: transparent !important;
}

.card {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  overflow: hidden;
}
.bg-sm-transparent{
  background: transparent !important;
}
.bg-sm-transparent.shadow-sm{
  box-shadow: none !important;
}
.gry-bg {
  background-color: #e3eaf1;
}
.product-gallery, .product-description-wrapper{
  padding:20px 0;
}
.product-gal{
  padding:0;
}
/* footer */
.footer {
  width: 100%;
  height: auto;
  position: fixed;
  padding: env(safe-area-inset-bottom);
  bottom: 0;
  left: 0;
  z-index: 9;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  background: #ffffff;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

.footer .btn {
  width: 60px;
  height: 60px;
  line-height: 45px;
  padding: 0;
  text-align: center;
  display: block;
  vertical-align: middle;
  color:#777;
}

.footer .btn i {
  width: 22px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

.footer .centerbutton {
  height: 60px;
  line-height: 54px;
  width: 60px;
  border-radius: 30px;
  margin: 0 15px;
  margin-top: -20px;
  background-color: #e62e04;
  color: #fff;
  font-size: 1.8rem;
}
.footer .centerbutton.btn .badge {
  position: absolute;
  top: 10px;
  right: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.bg-sm-transparent.bg-white, .bg-sm-transparent{
  background:transparent !important;
}
.bg-sm-transparent.px-2{
  padding-left:0 !important;
  padding-right:0 !important;
}
.product-box-2 .product-image{
  display: flex !important;
    align-items: center;
}
.btn-styled{
  padding: 0.6rem 1rem;
  border-radius: 1.3rem;
}
.product-desc-tab{
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.back-to-top{
  display:none;
}
.seller-shop-menu li a{
  padding:14px !important;
}
/* Checkout page styling */
.product-image, .product-box-1 .card-image a{
  height: 80px;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0px auto;
  max-width: 100px;
}
.product-image img {
  max-height: 100%;
  max-width: 100%;
}
.btn-light-grey, body a.btn-light-grey {
  background-color: #E3EAF1;
  color: #BBBBBB;
  border-color: #F3F6F8;
}
.input-group > .input-group-prepend > .btn{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.input-group.input-group-sm > .form-control {
  height: calc(1.6em + .5rem + 2px);
  border-color: #E3EAF1;
}
.w-35 {
  width: 35px !important;
  text-align: center;
}
.p-sm-0{
  padding:0 !important;
}
.border-top-dashed {
  border-top: 2px dashed #e3ead7 !important;
}
.sm-space-bottom{
  padding-bottom: 6rem!important;
}
.product-gal.sticky-top .slick-slide img{
  margin: 0px auto;
    max-height: 300px !important;
    width: auto !important;
}
.modal-content, .c-preloader{
  margin: 0 auto;
  width:80%;
  border-radius: 15px !important;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
}
.p-xs-0{
  padding:0 !important;
}
.pt-xs-0{
  padding-top:0 !important;
}
.card.sticky-top{
  position: relative;
}
.modal-body {
  padding: 1rem .5rem;
}
#addToCart-modal-body h3{
  font-size:1.2rem;
  margin-bottom:0;
}
.size-dd, .color-dd{
  /* min-width: 6rem; */
  padding: .6rem;
  border-radius: 20px;
  margin: .1rem;
  font-size:.9rem;
  outline: none;
}
.btn-cart i{
  font-size:1.2rem
}
.product-description-wrapper, .product-details-area{
  padding-bottom:0 !important;
}
.product-gal.sticky-top .wishlist_btn {
  right: .5em;
  top: 2rem;
  color: #fff;
  font-size: 1.4rem;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}
.btn-alt-base-1{
  background:#e62e04 !important;
}
.btn-cart.btn-sm{
  font-size:.8rem;
  line-height: 1.2;
}
.btn-cart.btn-sm .la{
  font-size:1rem;
}
label.payment_option span img{
  width:174px;
}
/*# sourceMappingURL=responsive.css.map */
}
